<div class="container">
    <header>
        <h1>The Arrivals</h1>
    </header>
    <div class="contend">
        <div class="img">
            <img src="../../assets/images/libro_portada.jpg" alt="" />
        </div>
        <div class="bookDetail">
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque doloremque molestiae impedit est animi vero nesciunt dolore quos mollitia, deleniti sapiente rem et perspiciatis illum provident voluptatum placeat ipsam enim magni magnam porro,
                    exercitationem repellendus? Maxime aspernatur porro ut excepturi dolores mollitia voluptatem quo iusto fugit a incidunt consequuntur voluptatum explicabo quam, nobis deleniti est. Facilis qui nesciunt reprehenderit, ducimus beatae
                    neque nisi. Quasi voluptas, culpa porro quia impedit non. Blanditiis nobis laborum a possimus. Quasi incidunt asperiores commodi et. Nostrum soluta similique, incidunt molestias perspiciatis voluptatem at autem, sunt maiores nam officiis!
                    Qui fuga suscipit tempore a laudantium?
                </p>
            </div>
            <div class="details">
                <h4><span class="value">Valor Unitario: $50.000,00</span></h4>
                <b>Cantidad</b>
                <input type="number" name="cantidad" value="1" min="1" class="qty" />
                <hr />
                <div class="info-price">
                    <div class="price">
                        <span class="value total">Total $50.000,00<span class="value">
                <div class="button-add-to-car">
                  <button type="button" class="btn btn-primary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-cart-check-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
                      ></path>
                    </svg>
                    Añadir al carrito
                  </button>
                </div></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>